* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: $color-text;
}

*:active, *:hover, *:focus {
  outline: none;
}

body {
  font-size: $font-size-general;
  background-color: $color-bg;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: $color-text;
}

input {
  max-width: 70%;

  margin-top: -.3rem;
  border: none;
  border-radius: .25rem;
  background-color: $color-input-text;
  padding: .2rem;
  border-bottom: 2px solid $color-input-text;

  font-family: $font-family;
  font-size: $font-size-p;
  font-weight: 100;

  transition: all .3s ease-out;

  &:focus {
    background-color: $color-input-text-focus;
    border-bottom: 2px solid $color-input-border;
  }
}

button {
  align-self: flex-end;
  min-width: 15%;
  margin-top: .65rem;
  background-color: $color-button;
  padding: .5rem;
  border-radius: .25rem;

  font-family: $font-family;
  font-size: $font-size-p;
  font-weight: $font-weight-p;

  cursor: pointer;

  transition: all .3s ease-out;

  &:hover {
    background-color: $color-input-text-focus;
  }
}

.app {
  width: calc(100vw - 3rem);
  min-height: calc(100vh - 3rem);
  background-color: $color-app;
  box-shadow: $shadow;
}

.header {
  width: 100%;
  min-height: 5vh;
  background-color: $color-header;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  h1 {
    font-family: $font-family;
    font-size: $font-size-header;
    font-weight: $font-weight-header;
    padding: .5rem 1rem;
  }

  p {
    font-family: $font-family;
    font-size: $font-size-p;
    font-weight: $font-weight-p;
  }

  &-credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: .5rem;

    

    &-logout {
      text-decoration: underline;
      cursor: pointer;
      transition: all .3s ease-out;
      
      &:hover {
        font-weight: 700;
      }
    }

    #header-username {
      font-weight: bold;
    }
  }
}

.login {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.login-component {
  margin-top: 20vh;
  background-color: $color-login;

  padding: 2rem;
  border-radius: .125rem;
  box-shadow: $shadow;

  &-instruction {
    font-family: $font-family;
    font-size: $font-size-subheader;
    font-weight: $font-weight-subheader;
    margin-bottom: 1.5rem;
  }

  &-controls {
    display: flex;
    flex-direction: column;

    &-control {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: .5rem;

      &-description {
        width: 30%;

        font-family: $font-family;
        font-size: $font-size-p;
        font-weight: $font-weight-p;

        margin-bottom: .2rem;
        margin-right: .5rem;
      }

      input[type="text"], input[type="password"] {
        width: 70%;
      }
    }

    &-description-error {
      color: $color-msg-error;
      text-align: center;
      padding: .3rem 0;
      
      font-family: $font-family;
      font-size: $font-size-p;
      font-weight: bold;
    }
  }
}

.mainWindow {
  min-height: calc(100vh - 3rem - 5vh);

  .lookup {
    height: 8%;
    width: 100%;
    margin-left: 3rem;
    margin-top: 1rem;

    font-family: $font-family;
    font-size: $font-size-subheader;
    font-weight: $font-weight-subheader;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &-description {
      width: 100%;
      margin-top: .8rem;
      margin-right: .75rem;
    }

    &-bar {
      width: 60%;
      margin-top: .8rem;
      padding-left: 1.5rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    &-button {
      margin-left: .75rem;
      width: 15%;
    }
  }

  .results {
    min-height: 92%;
    padding: 0 2rem 2rem 2rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &-message {
      font-family: $font-family;
      font-size: $font-size-subheader;
      font-weight: $font-weight-p;
      font-style: italic;

      margin: 2rem 0 0 1rem;
    }

    .musician {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      margin: 1.5rem 1rem 0.5rem 1rem;
      padding: .5rem 1rem 1rem 1rem;
      background-color: $color-bg;

      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;

      transition: all .3s ease-out;

      &:hover {
        color: $color-bg;
        background-color: $color-header;
      }

      &-link {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
          font-family: $font-family;
          font-size: $font-size-subheader;
          font-weight: $font-weight-header;
        }
  
        &-info {
  
          &-listeners {
            font-family: $font-family;
            font-size: $font-size-p;
            font-weight: $font-weight-p;
            font-style: italic;
            margin-top: .4rem;
            margin-bottom: .5rem;
          }
        }
  
        img {
          border-radius: 1rem;
        }
      }

      &-remove {
        margin-top: 1.2rem;
        width: 7.5vw;
        align-self: center !important;
      }      
    }
  }
}